# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/css
www/directives
www/img
www/services
www/states
www/app.js
www/app.js.map
www/index.html