$weekly-note-height: 49px;

.app-title {
  font-size: 2em;
  text-align: center;
  padding-top: 3em;
}

.app-subtitle {
  margin-bottom: 3em;
}

.title-page-input-container {
  margin-top: 1em !important;
}

.title-page-input {
  width: 80%;
  font-size: 1.4em !important;
}

.title-page-save-button {
  width: 20%;
  font-size: 1.3em;
}

.week-items {
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 1.5em;
  text-align: center;
}

.weekly-note {
  height: $weekly-note-height;
}

.weekly-note-input {
  height: 100% !important;
  width: 100%;
  font-size: 1.3em !important;
  padding: 5px !important;
  border-bottom: 2px solid lightgray !important;

  &::-webkit-input-placeholder {
    font-size: 1.3em;
  }

  &:-moz-placeholder { /* Firefox 18- */
    font-size: 1.3em;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    font-size: 1.3em;
  }

  &:-ms-input-placeholder {
    font-size: 1.3em;
  }
}

.day-items-list {
  height: calc(100% - #{$weekly-note-height});
}

.days-items {
  text-align: center;
  font-size: 1.5em;
  height: percentage(1/7);
}

.hour-inputs {
  resize: none;
  font-size: 1.2em;
  line-height: 1.1em;
}

.hours-label {
  font-size: 1.3em;
}

.disabled-list-item {
  background-color: lightgray;
  color: gray;
}


.save-plans-button {
  font-size: 1.5em;
  font-weight: 200;
}

.quickview-cards {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9) !important;
}

.quickview-dates {
  background-color: lightgray;
  color: black;
  font-weight: bold !important;
  margin-bottom: 0 !important;
  padding: 10px;
}

.item-divider {
  background-color: #4CF;
}

.quickview-time {
  font-size: 1.2em;
  color: black;
}

.quickview-plan {
  padding: 10px 10px 10px 20px;
}

.full-width {
  width: 100%;
}

.clear-back {
  background-color: transparent !important;
}

.gray-back {
  background-color: lightgray !important;
}

.gold-back {
  background-color: goldenrod !important;
}

.no-border {
  border: none !important;
}

.account-button.activated {
  background-color: goldenrod !important;
}


